* {
    font-family: 'Roboto', sans-serif;
}

.publicacion-contenedor {
    width: 35%;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.perfil-usuario {
    display: flex;
    align-items: center;
}

#user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil-usuario p {
    margin-top: 2px;
    margin-bottom: -2px;
    margin-left: 13px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}

.perfil-usuario small {
    margin-left: 13px;
    font-weight: lighter;
    color:#8a8989;
    font-size: 12px;
}

#options {
    margin-left: auto;
    width: 15px;
    height: 15px;
}

.texto-publicacion {
    text-align: justify;
    font-size: 15px;
}

.imagen-publicacion {
    text-align: center;
}

.imagen-publicacion hr {
    width: 100%;
    margin: 0px;
    border: 1px solid #F2F3F4;
    background-color: transparent;
}

#contenido {
    width: 40%;
    height: auto;
}

.comentarios-publicacion {
    margin-top: 10px;
}

.comentarios-publicacion hr {
    border: 1px solid #8d8d8d;
    background-color: transparent;
}

.comentario {
    width: 95%;
    display: flex;
    align-items: center;
    background: #ffffff;
    margin-top: 10px;
}

.comentario img {
    margin-bottom: auto;
}

.contenido-comentario {
    margin-left: 13px;
    background: #f0efef;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.texto-comentario p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 13px;
    margin-left: 13px;
    color: #000000;
    font-weight: lighter;
}

.imagen-comentario {
    margin-top: 10px;
    text-align: center;
}

#usuario-comentario {
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 10px;
    margin-left: 13px;
    text-align: left !important;
    font-weight: bolder !important;
    margin-bottom: -2px;
}

.comentar-contenedor {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.agregar-comentario {
    width: 100%;
    height: auto;
    margin-left: 13px;
    background: #f0efef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.agregar-comentario p {
    text-align: justify;
    margin-left: 13px;
    margin-right: 13px;
    font-weight: lighter;
    color:#8a8989;
}